

.top {
    display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  height: 17rem;
}

.top h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
}

.top a, .bottom a {
  font-size: 16px;
  color:aquamarine;
}

.middle {
  background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 95rem;
}

.middle h2,.bottom h2 {
  color: white;
  font-size: 42px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.middle p {
  font-size: 24px;
  color: gray;
}

.bottom{
  background-color: black;
  text-align: center;
  height: 17rem;
}

.bottom h2 {
  font-size: 24px;
  color: white;
}

.credit {
  display: flex;
  text-align: end;
  flex-direction: row;
  margin-left: 72rem;
  justify-content: space-between;
  width: 4rem;
}

.bottom .credit p {
  width: 22px;
  background-color: black;
  color: rgb(163, 161, 161);
}

.credit img {
  border-radius: 50%;
}

.bottom .credit img{
  margin-top: 17px;
    width: 17px;
    height: 17px;
}